body {
    color: palevioletred;  
    background: papayawhip;
    margin: 0px;
    font-family: "Oswald", sans-serif;
}

header {
    border-bottom: solid 2px rgb(219, 122, 147);
    padding: 20px;
    font-size: 32px;
    color: rgb(219, 122, 147);
}

section {
    background: rgba(255, 205, 185, 0.938);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  img {
    height: 200px;

    .categoria {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  } 
  section {
    background: rgb(241, 184, 161);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid rgb(197, 45, 228);
}